
            
#principal{
    border: solid 1px black;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    
}
fieldset{
    margin-bottom:10px ;

}
legend{
    border:solid 1px black ;
    padding:5px ;
    font-weight: bold;
    border: radius 20px; 
    background-color: white;
}
#FotoPerfil
{
    margin: 5px;
    border: solid 4px black;
}
body{
    background-color: aquamarine;
}

